<P><%= notice %></P>
<br>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<br>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>
<br>
<a><%= link_to "Edit", edit_book_path(@book.id) %></a>
|
<a><%= link_to :back , :back %></a>

